<div class="dashboardBody">

  <!-- Top Navigation Bar -->
  <app-navbar></app-navbar>

  <div class="container">
    <div class="d-table-row">
      <div class="col-md-12">
        <h5 class="text-white text-center"> All Users  </h5>

        <!-- The Normal Users Table -->
        <!-- <div class="table-responsive dashboard-bg p-3">
          <table class="myTable table text-white">
              <thead>
                  <tr>
                      <th>User Id</th>
                      <th>Full Name</th>
                      <th>Username</th>
                      <th>Gender</th>
                      <th>City</th>
                      <th>Country</th>
                      <th>Age</th>
                      <th>Last Active</th>
                      <th>Edit</th>
                      <th>View</th>
                      <th>Delete</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let user of users">
                      <td>{{ user.id }}</td>
                      <td> {{ user.fullName }} </td>
                      <td> {{ user.username }} </td>
                      <td> {{ user.gender }}</td>
                      <td> {{ user.city }} </td>
                      <td> {{ user.country }} </td>
                      <td> {{ user.age }} </td>
                      <td> {{ user.lastActive | date }} </td>
                      <td>
                          <button class="btn myBtn btn-sm" data-toggle="modal" data-target="#editUserModal" (click)="getUser(user.id)"><i class="icofont-edit text-white"></i></button>
                      </td>
                      <td>
                        <button class="btn btn-myInfo btn-sm" (click)="userDetail(user.id)">More Detail</button>
                      </td>
                      <td>
                          <button class="btn myBtn btn-sm" (click)="deleteUser(user.id)"><i class="icofont-trash text-white"></i></button>
                      </td>
                  </tr>
              </tbody>
          </table>
          <ul class="myPagination pagination">
              <li class="page-item"><a class="page-link text-white" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link text-white" href="#">1</a></li>
              <li class="page-item"><a class="page-link text-white" href="#">2</a></li>
              <li class="page-item"><a class="page-link text-white" href="#">3</a></li>
              <li class="page-item"><a class="page-link text-white" href="#">Next</a></li>
          </ul>
      </div> -->

        <!-- Users Table display using Angular Material -->
        <div class="search-div">
          <!-- <button mat-raised-button data-toggle="modal" data-target="#addGameModal">
            <mat-icon>add</mat-icon>Create Game
          </button> -->
          <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
        
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> User Id </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.id }} </mat-cell>
            </ng-container>
        
            <!-- FullName Column -->
            <ng-container matColumnDef="fullName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.fullName }} </mat-cell>
            </ng-container>
        
            <!--Username Column -->
            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Username </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.username }} </mat-cell>
            </ng-container>
    
            <!-- Gender Column -->
            <ng-container matColumnDef="gender">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.gender }} </mat-cell>
            </ng-container>
    
             <!-- City Column -->
            <ng-container matColumnDef="city">
              <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.city }} </mat-cell>
            </ng-container>
    
             <!-- Country Column -->
             <ng-container matColumnDef="country">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
              <mat-cell *matCellDef="let user">{{ user.country }}</mat-cell>
              <!-- <td mat-cell *matCellDef="let game" *ngIf="!game.isOpen">Closed</td> -->
            </ng-container> 
            
            <!-- Age Column -->
            <ng-container matColumnDef="age">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.age }} </mat-cell>
            </ng-container>
    
            <!-- Last Active Column -->
            <ng-container matColumnDef="lastActive">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Last Active </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.lastActive | date }} </mat-cell>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
              <mat-cell *matCellDef="let user"> 
                <button class="btn myBtn btn-sm" data-toggle="modal" data-target="#editUserModal" (click)="getUser(user.id)"><i class="icofont-edit text-white"></i></button>  
              </mat-cell>
            </ng-container>
    
            <!-- View-More-User-Detail Column -->
            <ng-container matColumnDef="viewDetails">
              <mat-header-cell *matHeaderCellDef> View </mat-header-cell>
              <mat-cell *matCellDef="let user"> 
                <button class="btn btn-myInfo btn-sm" (click)="userDetail(user.id)">More Detail</button>  
              </mat-cell>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
              <mat-cell *matCellDef="let user"> 
                <button class="btn myBtn btn-sm" (click)="deleteUser(user.id)"><i class="icofont-trash text-white"></i></button>  
              </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
            
          </mat-table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>

      </div>
    </div>
  </div>
</div>

 <!-- Edit User Modal -->
 <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5 mx-auto">
            <img *ngIf="!myUser" class="spinner" src="../../../assets/img/load.gif" alt="loading...">
          </div>
        </div>


        <form *ngIf="myUser" #updateUserForm="ngForm" (ngSubmit)="updateUserDetails()">
          <div class="row">
             <div class="col-md-6">
                  <div class="form-group">
                      <label for="fullName" class="text-muted mb-0">Full Name</label>
                      <input type="text" class="form-control" placeholder="Full Name" name="fullName" [(ngModel)]="myUser.fullName">
                  </div>
             </div>
             <div class="col-md-6">
                  <div class="form-group">
                      <label for="email" class="text-muted mb-0">Email</label>
                      <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="myUser.email">
                  </div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-6">
                  <div class="form-group">
                      <label for="phoneNumber" class="text-muted mb-0">Phone Number</label>
                      <input type="text" class="form-control" placeholder="Phone Number" name="phoneNumber" [(ngModel)]="myUser.phoneNumber">
                  </div>
             </div>
             <div class="col-md-6">
                  <div class="form-group">
                      <label for="balance" class="text-muted mb-0">Balance</label>
                      <input type="number" class="form-control" placeholder="Wallet Balance" name="balance" [(ngModel)]="myUser.balance">
                  </div>
             </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="city" class="text-muted mb-0">City</label>
                      <input type="text" class="form-control"  placeholder="City" name="city" [(ngModel)]="myUser.city">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="country" class="text-muted mb-0">Country</label>
                      <input type="text" class="form-control"  placeholder="Country" name="country" [(ngModel)]="myUser.country">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="walletAddress" class="text-muted mb-0">Wallet Address</label>
                      <input type="text" class="form-control"  placeholder="Wallet Address" name="walletAddress" [(ngModel)]="myUser.walletAddress">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="profilePicLink" class="text-muted mb-0">Profile Picture Link</label>
                      <input type="text" class="form-control"  placeholder="Profile Picture Link" name="profilePicLink" [(ngModel)]="myUser.profilePicLink">
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-md-9">
              <button [disabled]="!updateUserForm.valid"  type="submit" class="btn btn-myInfo btn-block">Update {{ myUser.username }}'s Details</button>
            </div>
          </div>
      </form>
                    
      </div>
      
    </div>
  </div>
</div>