<div class="dashboardBody">

  <!-- Top Navigation Bar -->
  <app-navbar></app-navbar>

  <div class="container">
          <div class="row profile">
              <div class="col-md-3">
                  <app-sidebar></app-sidebar>
              </div>
              <div class="col-md-9">
                  <!-- <div class="profile-content"> -->
                      <div class="row mb-4">
                          <div class="col-12">
                              <div class="dashboard-bg p-3">
                                  <p class="text-white mb-0">Wallet Address: <strong *ngIf="user">{{ user.walletAddress }}</strong>  <span class="float-right">{{ jstoday }}</span> </p>
                              </div>
                          </div>
                      </div>
                      
                     <div class="row">
                         <div class="col-md-4 text-white">
                             <div class="card myCard">
                                 <div class="card-body">
                                      <h3 *ngIf="user">{{ user.balance | currency: 'NGN' }}</h3>
                                      <p><span><i class="icofont-wallet font-increase"></i></span><span class="float-right">Wallet Balance</span> </p>
                                 </div>
                                 <div class="progress progress-mini">
                                  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                             </div>
                         </div>
                         <div class="col-md-4 text-white">
                             <div class="card myCard">
                                 <div class="card-body">
                                      <h3>#107,000</h3>
                                      <p><span><i class="icofont-money font-increase"></i></span><span class="float-right">Total Staked</span> </p>
                                 </div>
                                 <div class="progress progress-mini">
                                  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                             </div>
                         </div>
                         <div class="col-md-4 text-white">
                             <div class="card myCard">
                                 <div class="card-body">
                                      <h3>#107,000</h3>
                                      <p><span><i class="icofont-win-trophy font-increase"></i></span><span class="float-right">Total Won</span> </p>
                                 </div>
                                 <div class="progress progress-mini">
                                  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                             </div>
                         </div>
                        
                     </div>
  
                     <!-- Staked Games Table -->
                     <div class="row mt-4">
                         <div class="col-md-12">
                             <div class="dashboard-bg p-3">
                                  <h5 class="text-white pb-3">Ongoing Staked Games</h5>
                                  <table class="myTable table table-border-bottom text-white">
                                      <thead>
                                          <tr>
                                              <th>Game Name</th>
                                              <th>Sport Category</th>
                                              <th>Competition/League</th>
                                              <th>Staked Amount</th>
                                              <th>Status</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td>ARS : MANU</td>
                                              <td>Football</td>
                                              <td>FA Cup</td>
                                              <td>#50,000</td>
                                              <td>Predictor</td>
                                          </tr>
                                          <tr>
                                              <td>ARS : MANU</td>
                                              <td>Football</td>
                                              <td>FA Cup</td>
                                              <td>#50,000</td>
                                              <td>Challenger</td>
                                          </tr>
                                          <tr>
                                              <td>ARS : MANU</td>
                                              <td>Football</td>
                                              <td>Europa League</td>
                                              <td>#50,000</td>
                                              <td>Predictor</td>
                                          </tr>
                                          <tr>
                                              <td>NGA : SPA</td>
                                              <td>Football</td>
                                              <td>World Cup</td>
                                              <td>#50,000</td>
                                              <td>Challenger</td>
                                          </tr>
                                      </tbody>
                                  </table>
                                  <!-- Pagination -->
                                  <ul class="myPagination pagination">
                                      <li class="page-item"><a class="page-link text-white" href="#">Previous</a></li>
                                      <li class="page-item"><a class="page-link text-white" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link text-white" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link text-white" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link text-white" href="#">Next</a></li>
                                  </ul>
                             
                         </div>
                     </div>
              </div>
          </div>
      </div>
      <br>
      <br>
</div>
  