<div class="dashboardBody">

  <!-- Top Navigation Bar -->
  <app-navbar></app-navbar>

  <div class="container">
    <div class="row pt-3">
      <!-- Sport -->
      <div class="col-md-4 text-white myCard">
        <h3>Sports</h3>
        <button type="button" class="btn btn-myInfo" data-toggle="modal" data-target="#addSportModal">Add New Sport</button>
        <table class="myTable table table-border-bottom text-white mt-1">
          <thead>
              <tr>
                  <th>Sport</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody *ngIf="!sports">
            <tr>
              <img class="spinner" src="../../../assets/img/load.gif" alt="Loading...">
            </tr>
          </tbody>
          <tbody *ngIf="sports">
              <tr *ngFor="let sport of sports">
                  <td>{{ sport.name }}</td>
                  <td>
                    <!-- Edit Sport Name -->
                    <button class="btn myBtn btn-sm" data-toggle="modal" data-target="#editSportModal" (click)="getSport(sport.id)"><i class="icofont-edit text-white"></i></button>
                  </td>
                  <td>
                    <!-- Delete Sport -->
                    <button class="btn myBtn btn-sm" (click)="deleteSport(sport.id)"><i class="icofont-trash text-white"></i></button>
                  </td>
              </tr>
          </tbody>
          
      </table>
    </div>

      <!-- League -->
      <div class="col-md-4 text-white myCard">
        <h3>Leagues</h3>
        <button type="button" class="btn btn-myInfo" data-toggle="modal" data-target="#addLeagueModal">Add New League</button>
        <table class="myTable table table-border-bottom text-white mt-1">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Sport</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody *ngIf="!leagues">
            <tr>
              <img class="spinner" src="../../../assets/img/load.gif" alt="Loading...">
            </tr>
          </tbody>
          <tbody *ngIf="leagues">
              <tr *ngFor="let league of leagues">
                  <td> {{ league.name }} </td>
                  <td> {{ league.location }} </td>
                  <!-- <td *ngIf="league.sport != null"> {{ league.sport.name }} </td> -->
                  <td> {{ getSportById(league.sportId).name }} </td>
                  <td>
                    <!-- Edit Sport Name -->
                    <button class="btn myBtn btn-sm" data-toggle="modal" data-target="#editLeagueModal" (click)="getLeague(league.id)"><i class="icofont-edit text-white"></i></button>
                  </td>
                  <td>
                    <!-- Delete Sport -->
                    <button class="btn myBtn btn-sm" data-toggle="modal" data-target="#editUserModal" (click)="deleteLeague(league.id)"><i class="icofont-trash text-white"></i></button>
                  </td>
              </tr>
          </tbody>
      </table>
      </div>

      <!-- Condition -->
      <div class="col-md-4 text-white myCard">
        <h3>Conditions</h3>
        <button type="button" class="btn btn-myInfo" data-toggle="modal" data-target="#addConditionModal">Add New Condition</button>
        <table class="myTable table table-border-bottom text-white mt-1">
          <thead>
              <tr>
                  <th>Condition</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>TeamA Lose - Team B Wins</td>
                  <td>
                    <!-- Edit Sport Name -->
                    <button class="btn myBtn btn-sm" data-toggle="modal" data-target="#editConditionModal" (click)="getCondition()"><i class="icofont-edit text-white"></i></button>
                  </td>
                  <td>
                    <!-- Delete Sport -->
                    <button class="btn myBtn btn-sm" data-toggle="modal" data-target="#editUserModal" (click)="deleteCondition()"><i class="icofont-trash text-white"></i></button>
                  </td>
              </tr>
          </tbody>
      </table>
      </div>
  </div>
  

</div>

<!--Add Sport Modal -->
<div class="modal fade" id="addSportModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Sport</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addSportForm="ngForm" (ngSubmit)="addSport()">
          <div class="form-group">
              <label for="gameCondition">Sport Name</label>
              <input type="text" name="editSport" [(ngModel)]="newSport.name" class="form-control" required>
          </div>
          <div class="row">
            <div class="col-md-3">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-md-9">
              <button [disabled]="!addSportForm.valid"  type="submit" class="btn btn-myInfo btn-block">Add Sport</button>
            </div>
          </div>
      </form>       
      </div>
    </div>
  </div>
</div>

<!--Add League Modal -->
<div class="modal fade" id="addLeagueModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New League</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addLeagueForm="ngForm" (ngSubmit)="addLeague()">
          <div class="row">
            <div class="col-md-12">
              <!-- Name -->
              <div class="form-group">
                <label for="leagueName">League Name</label>
                <input type="text" name="leagueName" [(ngModel)]="newLeague.name" class="form-control" required #leagueName="ngModel">
                <div class="alert alert-danger" *ngIf="leagueName.touched && !leagueName.valid">League Name is Required</div>
              </div>
            </div>
            <div class="col-md-6">
              <!-- Location -->
              <div class="form-group">
                <label for="leagueLocation">League Location</label>
                <input type="text" name="leagueLocation" [(ngModel)]="newLeague.location" class="form-control" required #leagueLocation="ngModel">
                <div class="alert alert-danger" *ngIf="leagueLocation.touched && !leagueLocation.valid">Please Specify League Location</div>
              </div>
            </div>
            <div class="col-md-6">
              <!-- Sport ID -->
              <label for="sport">Sport</label>
              <select name="sportId" id="sport" class="form-control" [(ngModel)]="newLeague.sportId" required #sportId="ngModel">
                <option value="" [disabled]></option>
                <option *ngFor="let sport of sports" value="{{ sport.id }}"> {{ sport.name }} </option>
              </select>
              <div class="alert alert-danger" *ngIf="sportId.touched && !sportId.valid">Please Specify the Sport</div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-3">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-md-9">
              <button [disabled]="!addLeagueForm.valid"  type="submit" class="btn btn-myInfo btn-block">Add League</button>
            </div>
          </div>
      </form>       
      </div>
    </div>
  </div>
</div>

<!--Add Condition Modal -->
<div class="modal fade" id="addConditionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Conditon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addConditionForm="ngForm" (ngSubmit)="addCondition()">
          <div class="form-group">
              <label for="gameCondition">Condition Name</label>
              <input type="text" class="form-control" required>
          </div>
          <div class="row">
            <div class="col-md-3">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-md-9">
              <button [disabled]="!addConditionForm.valid"  type="submit" class="btn btn-myInfo btn-block">Add Condition</button>
            </div>
          </div>
      </form>       
      </div>
    </div>
  </div>
</div>


<!--Edit Sport Modal -->
<div class="modal fade" id="editSportModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Sport Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="!mySport">
          <img src="../../../assets/img/load.gif" alt="loading..." class="spinner">
        </div>
        <form #editSportForm="ngForm" *ngIf="mySport" (ngSubmit)="updateSport()">
          <div class="form-group">
              <label for="sportName">Sport Name</label>
              <input type="text" name="sportName" [(ngModel)]="mySport.name" class="form-control" required>
          </div>
          <div class="row">
            <div class="col-md-3">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-md-9">
              <button type="submit" class="btn btn-myInfo btn-block">Save Changes</button>
            </div>
          </div>
      </form>       
      </div>
    </div>
  </div>
</div>

<!--Edit League Modal -->
<div class="modal fade" id="editLeagueModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit League Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="!myLeague">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <img class="spinner" src="../../../assets/img/load.gif" alt="loading">
            </div>
          </div>
        </div>
        <form #editLeagueForm="ngForm" *ngIf="myLeague" (ngSubmit)="updateLeague(myLeague.id)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <label for="leagueName">League Name</label>
                  <input type="text" name="leagueName" [(ngModel)]="myLeague.name" class="form-control" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="leagueLocation">League Location</label>
                <input type="text" name="leagueLocation" [(ngModel)]="myLeague.location" class="form-control" required>
            </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="sport">Sport</label>
                <select name="sport" class="form-control" required [(ngModel)]="myLeague.sportId">
                  <option value="" [disabled]></option>
                  <option *ngFor="let sport of sports" value="{{sport.id}}"> {{ sport.name }} </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-md-9">
              <!-- REMOVE data-dismiss="modal" when the End Point is Working -->
              <button [disabled]="!editLeagueForm.valid" type="submit" class="btn btn-myInfo btn-block">Save Changes</button>
            </div>
          </div>
      </form>       
      </div>
    </div>
  </div>
</div>

<!--Edit Condition Modal -->
<div class="modal fade" id="editConditionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Condition</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editConditionForm="ngForm" (ngSubmit)="updateCondition()">
          <div class="form-group">
              <label for="gameCondition">Condition</label>
              <input type="text" class="form-control" required>
          </div>
          <div class="row">
            <div class="col-md-3">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-md-9">
              <button type="submit" class="btn btn-myInfo btn-block">Save Changes</button>
            </div>
          </div>
      </form>       
      </div>
    </div>
  </div>
</div>
