/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/superhero/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '../node_modules/datatables.net-dt/css/jquery.dataTables.css';


@import "assets/css/icofont.min.css";
@import "assets/css/magnific-popup.css";
@import "assets/css/app.css";
@import "assets/css/custom.css";

.spinner {
    height: 80px;
    width: 80px;
}

/* @import '../node_modules/alertifyjs/build/css/alertify.min.css'; */
/* @import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css'; */
/* @import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css'; */



    
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* fiilter controls */
.search-div {
    margin: 10px;
}
.search-form-field {
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.search-form-field div.mat-form-field-underline {
    display: none;
}
.search-form-field div.mat-form-field-infix {
    border-top: 0px;
} 
.search-form-field div.mat-form-field-wrapper {
    padding-bottom: 0px;
}
.search-form-field div.mat-form-field-suffix button {
    height: 32px;
    width: 32px;
}

.hide {
    display: none;
}
/* mat-table */
mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}
.mat-form-field {
    width: 86% !important;
}
