<div class="dashboardBody">
  <!-- Top Navigation Bar -->
  <app-navbar></app-navbar>
  
  <div class="container">
          <div class="row profile">
              <div class="col-md-3">
                <app-sidebar></app-sidebar>
              </div>
              <div class="col-md-9">
                  <!-- <div class="profile-content"> -->
                      <div class="row mb-4">
                          <div class="col-12">
                              <div class="dashboard-bg p-3">
                                      <h5 class="text-white">Predict Game</h5>
                                  <p class="text-white mb-0">Games currently available for Prediction  <span class="float-right">{{ jstoday }}</span> </p>
                              </div>
                          </div>
                      </div>
                      
  
                     <!-- Staked Games Table -->
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="dashboard-bg p-3">
                                <!-- Bootstrap Table -->
                                <table class="myTable table table-border-bottom text-white">
                                   <thead>
                                        <tr>
                                            <!-- <span> -->
                                                <th></th>
                                                <th>Competition</th>
                                                <th>Game</th>
                                                <th>Time</th>
                                                <th>Action</th>
                                            <!-- </span> -->
                                        </tr>
                                    </thead>
                                    <!-- </div> -->
                                    <tbody *ngIf="games">
                                        <tr *ngFor="let game of games; let i=index">
                                            <span *ngIf="game.isOpen">
                                                <td>{{ i }}</td>
                                                <td>{{ getLeagueById(game.leagueId).name }}</td>
                                                <td>{{ game.aTeam }} : {{ game.bTeam }}</td>
                                                <td>{{ game.startTime | date:'medium' }}</td>
                                                <td>
                                                    <button class="btn btn-myInfo btn-sm" data-toggle="modal" data-target="#playGameModal" (click)="getGameByID(game.id)">Predict</button>
                                                </td>
                                            </span>
                                        </tr>
                                    </tbody>
                                    <div *ngIf="!games" class="justify-content-center">
                                        <img class="spinner" src="../../assets/img/load.gif" alt="Loading...">
                                    </div>
                                </table>
                                <!-- Still Looking for a suitable Pagination to use -->
                                <ul class="myPagination pagination">
                                    <li class="page-item"><a class="page-link text-white" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link text-white" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link text-white" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link text-white" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link text-white" href="#">Next</a></li>
                                </ul>
                             
                            </div>
                        </div>
                    </div>
          </div>
      </div>
      </div>
  
        
        <!--Play Ga,e Modal -->
        <div class="modal fade" id="playGameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Play Game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                      <form>
                          <div class="form-group">
                              <label for="gameCondition">Select Condition</label>
                              <select class="form-control">
                                  <option>Choose Prediction</option>
                                  <option value="">Barcelona win Real Marid</option>
                                  <option value="">No Win (Draw with Goals)</option>
                                  <option value="">Goalless Draw</option>
                                  <option value="">Real Marid win Barcelona</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label for="amount">Enter Amount (NGN)</label>
                              <input type="number" class="form-control" placeholder="Enter Amount">
                          </div>
                      </form>         
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Play Game</button>
              </div>
            </div>
          </div>
        </div>
</div>
  